<%= stylesheet_link_tag 'gift' %>
<% provide(:title, "おすすめ一覧") %>

<div class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
<div class="col-md-10">
    <div class="price-wrapper">
        <h2>おすすめランキング</h2>
      
    </div>
</div>
<div class="col-md-1">

</div>
</div>
</div>