<%= stylesheet_link_tag 'gift' %>
<% provide(:title, "ランキング一覧") %>

<div class="container">
  <div class="row">
    
<div class="col-md-9">
    <div class="price-wrapper">
        <h2>おすすめランキング</h2>
      
    </div>
</div>

</div>
</div>