<%= stylesheet_link_tag 'index' %>
<% provide(:title, "トップページ") %>
<div class="content1 col-md-3">
  新商品<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  <%= link_to "さっそく見にいく！", root_path %>
</div>
<div class="content2 col-md-3">
  定番ランキング<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  <%= link_to "さっそく見にいく！", root_path %>
</div>
<div class="content3 col-md-3">
  あなたへのおすすめ<br>
  あなたに合ったコスメがきっと見つかる♪
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  テキスト<br>
  <%= link_to "さっそく見にいく！", root_path %>
</div>