<%= stylesheet_link_tag 'index' %>
<% provide(:title, "トップページ") %>
<a href=gift_new_path target="_blank">
  <div class="content1 col-md-3">
    <h1>新作コスメ</h1>
    <h5>テキストテキストテキスト</h5>
    <h5>テキストテキストテキスト♪</h5>
    <div class="img"><%= image_tag("new_snap.jpg", :size =>'300x300', alt: "new snap") %></div>
    <span class="right">さっそく見にいく！</span>
  </div>
</a>
<a href=gift_rank_path target="_blank">
  <div class="content2 col-md-3">
    <h1>定番ランキング</h1>
    <h5>テキストテキストテキスト</h5>
    <h5>テキストテキストテキスト♪</h5>
    <div class="img"><%= image_tag("rank_snap.jpeg", :size =>'300x300', alt: "rank snap") %></div>
    <span class="right">さっそく見にいく！</span>
  </div>
</a>
<a href=gift_recommend_path target="_blank">
  <div class="content3 col-md-3">
    <h1>おすすめ</h1>
    <h5>普段使いしているコスメから，</h5>
    <h5>新しいコスメをおすすめ♪</h5>
    <div class="img"><%= image_tag("recommend_snap.jpg", :size =>'300x300', alt: "recommend snap") %></div>
    <span class="right">さっそく見にいく！</span>
  </div>
</a>