<%= stylesheet_link_tag 'index' %>
<% provide(:title, "トップページ") %>
<div class="content1 col-md-3">
  コンテンツ1<br>
  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
</div>
<div class="content2 col-md-3">
  コンテンツ2<br>
  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
</div>
<div class="content3 col-md-3">
  コンテンツ3<br>
  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
</div>
