$birthday: #2EB6AA;
$light_birthday: white;
$coming_of_age: #ffff66;
$light_coming_of_age: coral;
$valentine: darkred;
$light_valentine: #ff66b2;
$white: steelblue;
$light_white: ghostwhite;
$graduation: hotpink;
$light_graduation: pink;
$entrance: hotpink;
$light_entrance: pink;
$childrens: green;
$light_childrens: greenyellow;
$mothers: mediumslateblue;
$light_mothers: #c993ff;
$fathers: deepskyblue;
$light_fathers: paleturquoise;
$thanksgiving: peru;
$light_thanksgiving: peachpuff;
$halloween: #404040;
$light_halloween: orange;
$christmas: #ff7f7f;
$light_christmas: seagreen;

$choco: #d2691e;