$birthday: gray;
$light_birthday: lightgray;
$coming_of_age: hotpink;
$light_coming_of_age: lightpink;
$valentine: maroon;
$light_valentine: hotpink;
$white: cyan;
$light_white: lightcyan;
$graduation: hotpink;
$light_graduation: lightpink;
$entrance: hotpink;
$light_entrance: lightpink;
$childrens: gold;
$light_childrens: khaki;
$mothers: hotpink;
$light_mothers: lightpink;
$fathers: deepskyblue;
$light_fathers: lightskyblue;
$thanksgiving: burlywood;
$light_thanksgiving: bisque;
$halloween: dimgray;
$light_halloween: gold;
$christmas: tomato;
$light_christmas: seagreen;

$choco: #d2691e;