// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";

.content1 {
  background-color: bisque;
}

.content2 {
  background-color: #99cc00;
}

.content3 {
  background-color: #FF00FF;
}

/*price wrapper*/
.price-wrapper {
  padding-top: 100px;
  margin: 0 auto;
  
  h2{
    text-align: center;
  }
}

#price-list {
  width: 700px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.list-name{
  text-align: center;
}

/*アコーディオン */
.price-list-item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  text-align: left;
}

.list-head {
  cursor:pointer;
}

.price-list-item h3 {
  font-size: 20px;
}

.price-list-item .list-icon {
  position:absolute;
  top:1em;
  right:10px;
  color:#fff;
  font-size:2rem;
  display: inline-block;
  text-decoration: none;
  background: #8FD8D1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}

.time {
  color:#ccc;
  font-size:9px;
}

.answer {
  font-size: 12px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
}

.brand_name {
  font-size: 2rem;
  background: linear-gradient(transparent 50%, #8FD8D1 50%);
}

.image{
  height: 180px;
  width: 286px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

.line-3 {
  overflow: hidden;
  height: 5em;
  line-height: 1.8;
}

.ranking-num {
  width: 29px;
  height: 28px;
  position: absolute;
  background-color: #f0e68c;
  padding: 5px;
  border: solid 1px lightgray;
}

.price-wrapper h2{
  margin-bottom:70px;
}