// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  background-color: snow;
  display: inline-block;
	min-width: 103%;
  margin-left: -15px;
  margin-right: -15px;
}



// title
.logo {
  background-color: white;
  border-bottom: 1px solid #000000;
}

.icon {
  background-color: white;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}



// events
.events {
  // background-color: aqua;
  border-right: 1px solid #000000;
  margin-left: 15px;
  margin-right: 20px;
}



// index
.content1 {
  background-color: lightcyan;
  margin-top: 30px;
  margin-right: 15px;
  padding-bottom: 10px;
}

.content2 {
  background-color: lightcyan;
  margin-top: 30px;
  margin-right: 15px;
  padding-bottom: 10px;
}

.content3 {
  background-color: lightcyan;
  margin-top: 30px;
  margin-right: 15px;
  padding-bottom: 10px;
}

h1,h5 {
  color: black;
}

.img {
  margin: 10px 0px;
}

.right {
  color: black;
  display: block;
  text-align: right;
}



// footer
.links {
  background-color: lightgray;
  font-family: 'arial black';
}

$choco: #d2691e;
.copyright {
  background-color: $choco;
  color: white;
  text-align: center;
}