// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "./colors";

// background
.container {
  background-color: #e5ffff;
  display: inline-block;
	min-width: 103%;
  margin-left: -15px;
  margin-right: -15px;
}



// title
.logo {
  background-color: white;
  border-bottom: 1px solid #000000;
}

.icon {
  background-color: white;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}



// events
.events {
  // background-color: aqua;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-left: 15px;
  margin-right: 20px;
}
// https://saruwakakun.com/html-css/reference/ul-ol-li-design
ul {
  padding: 0;
  position: relative;
}
ul li {
  color: black;
  margin-bottom: 5px;
  line-height: 1.5;
  border-radius: 0 15px 15px 0;
  padding: 0.5em;
  list-style-type: none!important;
}
.event {
  transition: all 0.3s ease 0s;
}
.event:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.birthday {
  border-left: solid 8px $birthday;
  background: $light_birthday;
  color: $birthday;
}
.coming_of_age {
  border-left: solid 8px $coming_of_age;
  background: $light_coming_of_age;
  color: $coming_of_age;
}
.valentine {
  border-left: solid 8px $valentine;
  background: $light_valentine;
  color: $valentine;
}
.white {
  border-left: solid 8px $white;
  background: $light_white;
  color: $white;
}
.graduation {
  border-left: solid 8px $graduation;
  background: $light_graduation;
  color: $graduation;
}
.entrance {
  border-left: solid 8px $entrance;
  background: $light_entrance;
  color: $entrance;
}
.childrens {
  border-left: solid 8px $childrens;
  background: $light_childrens;
  color: $childrens;
}
.mothers {
  border-left: solid 8px $mothers;
  background: $light_mothers;
  color: $mothers;
}
.fathers {
  border-left: solid 8px $fathers;
  background: $light_fathers;
  color: $fathers;
}
.thanksgiving {
  border-left: solid 8px $thanksgiving;
  background: $light_thanksgiving;
  color: $thanksgiving;
}
.halloween {
  border-left: solid 8px $halloween;
  background: $light_halloween;
  color: $halloween;
}
.christmas {
  border-left: solid 8px $christmas;
  background: $light_christmas;
  color: $christmas;
}



// index
.event_name {
  font-size: 40px;
  margin: 5px 15px;
  border-radius: 10px;
}
.content {
  background-color: lightcyan;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.content:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}
.check {
  display: block;
  text-align: right;
}

.birthday_content {
  color: $birthday;
  background-color: $light_birthday;
}
.coming_of_age_content {
  color: $coming_of_age;
  background-color: $light_coming_of_age;
}
.valentine_content {
  color: $valentine;
  background-color: $light_valentine;
}
.white_content {
  color: $white;
  background-color: $light_white;
}
.graduation_content {
  color: $graduation;
  background-color: $light_graduation;
}
.entrance_content {
  color: $entrance;
  background-color: $light_entrance;
}
.childrens_content {
  color: $childrens;
  background-color: $light_childrens;
}
.mothers_content {
  color: $mothers;
  background-color: $light_mothers;
}
.fathers_content {
  color: $fathers;
  background-color: $light_fathers;
}
.thanksgiving_content {
  color: $thanksgiving;
  background-color: $light_thanksgiving;
}
.halloween_content {
  color: $halloween;
  background-color: $light_halloween;
}
.christmas_content {
  color: $christmas;
  background-color: $light_christmas;
}



// footer
.links {
  background-color: lightgray;
  font-family: 'arial black';
}
.copyright {
  background-color: $choco;
  color: white;
  text-align: center;
}

.colorless {
  color: black;
  background: white;
}