<% events = ["成人の日", "バレンタインデー", "ホワイトデー", "卒業式・追いコン",
              "入学式", "こどもの日", "母の日", "父の日", "敬老感謝の日",
              "ハロウィン", "クリスマス"] %>
<div class="event">
  <ul>
    <% events.each do |event| %>
      <li>
        <%= p event %>
      </li>
    <% end %>
  </ul>
</div>