<div class="logo col-md-11">
  <a href=<%= root_path %>><%= image_tag("for_gift_logo.png", :size =>'420x61', alt: "@cosme logo") %></a>
</div>
<div class="icon col-md-1">
  <a href="https://www.cosme.net" target="_blank"><%= image_tag("at_cosme_icon.jpg", :size =>'66x61', alt: "@cosme icon") %></a>
</div>